<h1>Edit {{attraction.fullName}}</h1>

<div class="row">
    <form action="/attraction/{{attraction.id}}?_method=PATCH" method="POST" class="col-md-6 col-md-offset-3">
        
        <div class="form-group">
            <label for="attraction_name">attraction_name:</label>
            <input type="text" name="attraction_name" value="{{attraction.last_name}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="address">address:</label>
            <input type="text" name="address" value="{{attraction.address}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="admission_price">admission_price:</label>
            <input type="text" name="admission_price" value="{{attraction.admission_price}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">description:</label>
            <input type="text" name="description" value="{{attraction.description}}" class="form-control">
        </div>
        <div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>

<div>
    <a href="/attractions/{{author.id}}" class="btn btn-default">Back</a>
    <a href="/attractions" class="btn btn-default">Main Page</a>
</div>
