<h1>My Favorite Attractions</h1>

<ol>
    {{#each attractions}}
    <li>
        <h1><a href="/attractions/{{this.id}}">{{this.attraction_name}}</a></h1>
        <h3>{{this.address}}</h3>
        <p>{{this.admission_price}}, {{this.description}}</p>
    </li>
    {{/each}}
</ol>

<a href="/attractions/new" class="btn btn-default">Create a New Attractions</a>
