<h1>{{attraction.fullName}}</h1>
<h3>{{attraction.country}}</h3>
<p>{{attraction.book_title}}, {{attraction.publication_year}}</p>

<div>
    <a href="/attractions/{{attraction.id}}/edit" class="btn btn-primary">Edit {{attraction.fullName}}</a>
</div>

<form action="/attractions/{{attraction.id}}?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" class="btn btn-danger" />
</form>

<a href="/attractions" class="btn btn-default">Main Page</a>
